/* Default */
body {
  padding-top:1em;
}

div.getcode p {
  margin:1em;
  font-style:italic;
}

div.footer {
  padding-top:1em;
}

/* Candidate pages */
img.profile-image {
  width:100%;
  margin:0.2em;
  border-radius:100px;
}

p.quote {
  font-size:1.1em;
  font-style:italic;
  color:#333;
}

p.attrib {
  font-size:0.8em;
  color:#666;
  font-style:italic;
}
 
div.col-md-12 p.quote {
  width:75%;
}

/* Region page */
ol.candidates {
  padding:0;
  margin:0;
}

ol.candidates li {
  display:block;
  float:left;
  width:100px;
  height:150px;
  padding:10px;
  text-align:center;
}

ol.candidates > li > img.profile-image {
  width:auto;
  height:75px;
  max-width:80px;
}

