/* Default */
body {
  padding-top:1em;
  font-family: 'Droid Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Droid Serif', serif;
}

h3 a:link, h3 a:visited {
  text-decoration: underline;
  color: #333;
}

h3 a:hover {
  color: #428bca;
}

/*h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child {
  margin-top:0;
}*/

div.getcode p {
  margin:1em;
  font-style:italic;
}

div.footer {
  padding-top:1em;
}

div.reminder {
  text-align:right;
}

/* Front page */
div.front-panel {
  background:url("/images/frontpage_bg.jpg");
  background-position:center center;
  color:white;
  padding:1em;
  padding-bottom:2em;
}

div.front-panel p#intro a {
  color:white;
  border-bottom: 1px dashed #999;
}

div.front-panel p#intro {
  font-size:1.2em;
  margin-bottom:0.5em;
  padding:0.25em;
}

div.front-panel h1 {
  color:white;
  margin:0;
  padding:0;
  margin-bottom:0.25em;
}

div.front-panel div.regions a {
  display:block;
  float:left;
  margin:0.25em;
}

/* Party pages */
img.party-profile-image {
  width:100%;
  margin:0.2em;
}

/* Candidate pages */
img.profile-image {
  width:100%;
  margin:0.2em;
  border-radius:100px;
}

@media (min-width: 769px) {
  div.profile-3d {
    -webkit-perspective: 500px;
    perspective: 500px;
  }

  div.profile-3d img.profile-image {
    -webkit-transform: rotateY( 15deg );
    transform: rotateY( 15deg );
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border-radius: 0;

    -webkit-transition: -webkit-transform 0.1s;
  }

  div.profile-3d img.profile-image:hover {
    -webkit-transform: rotateY( 1deg );
    transform: rotateY( 1deg );
  }
}

@media (max-width:768px) {
  div.profile-3d img.profile-image {
    border-radius:0;
  }
}

p.quote {
  font-size:1.1em;
  font-style:italic;
  color:#333;
}

p.attrib {
  font-size:0.8em;
  color:#666;
  font-style:italic;
}
 
/*div.col-md-12 p.quote {
  width:75%;
}*/

/* Region page */
ol.candidates {
  padding:0;
  margin:0;
}

ol.candidates li {
  display:block;
  float:left;
  width:100px;
  height:150px;
  padding:10px;
  text-align:center;
  -webkit-perspective: 500px;
  perspective: 500px;
}

ol.candidates > li > a > img.profile-image {
  -webkit-transform: translate3d(0,0,1px);
  transform: translate3d(0,0,1px);

  transition: transform 1s;
  -webkit-transition: -webkit-transform 0.1s;
}

ol.candidates > li > a > img.profile-image:hover {
  -webkit-transform: translate3d(0,0,75px);
  transform: translate3d(0,0,100px);
}
