---
layout: default
title: YourNextMEP 
---

<script>
$(document).ready(function(){
  var form = $('form#postcode-form');

  form.submit(function() {
    $.post('/api/postcode', form.serialize(),
          function(data) {
            window.location = data.url;
          });

    return false;
  });
});
</script>

<div class="row front-panel">
  <div class="col-md-5 postcode">
    <h1>Find your MEP candidates</h1>

    <p id='intro'>
      On Thursday 22 May 2014 you will be able to vote for the MEPs who will represent your region in the <a href='https://en.wikipedia.org/wiki/European_Parliament' target='_blank'>European Parliament</a>. Use this site to discover who your candidates are and learn about them!
    </p>

    <form action='/api/postcode' method='POST' role="form" class='form-inline' id='postcode-form'>
      <div class="form-group">
        <label class="sr-only" for="postcode">Postcode</label>
        <input name="postcode" class="form-control" type="text" placeholder="enter your postcode">
      </div>
      <button type="submit" class="btn btn-default">Find region</button>
    </form>
  </div>
  <div class="col-md-7 regions">
    <h1>UK EU election regions</h1>
      {% for region in site.pages %}{% if region.layout == 'region' %}
      <a class='btn btn-default' href="{{ region.url }}">{{ region.name }}</a>
      {% endif %}{% endfor %}
  </div>
</div>

<div class='row front-links'>
  <div class='col-md-12'>
    <h2>Other EU election sites</h2>
  </div>
</div>
<div class='row front-links'>
  <div class='col-md-3'>
    <a href='https://factcheckeu.org/' target="_blank">FactCheckEU</a>
    <p>
      Fact checking of EU lovers and haters.
    </p>
  </div>
  <div class='col-md-3'>
    <a href='http://euandi.eu' target="_blank">euandi</a>
    <p>
      Match your beliefs to EU parties.
    </p>
  </div>
  <div class='col-md-3'>
    <a href='http://uk.votematch.eu/' target="_blank">VoteMatch UK</a>
    <p>
      UK party vote matching by VoteMatch for the EU election.
    </p>
  </div>
  <div class='col-md-3'>
    <a href='https://www.myvote2014.eu/en/home'>MyVote2014</a>
    <p>
      See how MEPs voted and match against a party.
    </p>
</div>
