---
layout: default
title: YourNextMEP 
---

<script>
$(document).ready(function(){
  var form = $('form#postcode-form');

  form.submit(function() {
    $.post('/api/postcode', form.serialize(),
          function(data) {
            window.location = data.url;
          });

    return false;
  });
});
</script>

<div class="row">
  <div class="col-md-12">
    <form action='/api/postcode' method='POST' role="form" class='form-inline' id='postcode-form'>
      <div class="form-group">
        <label class="sr-only" for="postcode">Postcode</label>
        <input name="postcode" class="form-control" type="text" placeholder="enter your postcode">
      </div>
      <button type="submit" class="btn btn-default">Find region</button>
    </form>
  </div>
  <div class="col-md-12">
    <h1>UK EU election regions</h1>
    <ul class="regions">
      {% for region in site.pages %}
        {% if region.layout == 'region' %}
          <li><a href="{{ region.url }}">{{ region.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

