---
layout: default
---

{% assign person=site.data.people[page.person] %}
{% assign party=site.data.parties[page.party] %}
{% assign region=site.data.regions[page.region] %}

<div class='row'>
  <div class='col-md-2'>
    {% if person.image %}
    <img src='{{ person.image }}' class='profile-image'/>
    {% else %}
    {% endif %}
  </div>
  <div class='col-md-10'>
    <h2>{{ person.name }}</h2>
    <p>{{ person.name }} is running in the <a href='/regions/{{ region.id }}'>{{ region.name }}</a> region for {{ party.name }}</p>
    {% if person.email %}
    <p>Email: <a href='mailto:{{ person.email }}'>{{ person.email }}</a></p>
    {% endif %}

    <div class='row'>
      <div class='col-md-12'>
        <ul class='links'>
        {% for link in person.links %}
          <li><a href='{{ link.url }}'>{{ link.notes }}</a></li>
        {% endfor %}
        {% for link in page.links %}
          <li><a href='{{ link.url }}'>{{ link.notes }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
    {% if person.description %}
    <div class='row'>
      <div class='col-md-12'>
        <h3>Description</h3>
        <p class='quote'>{{ person.description }}</p>
      </div>
    </div>
    {% endif %}
    {% if person.twitter_description %}
    <div class='row'>
      <div class='col-md-12'>
        <h3>Twitter description</h3>
        <p class='quote'>{{ person.twitter_description }}</p>
      </div>
    </div>
    {% endif %}
  </div>
</div>

