---
layout: default
---

{% assign people_party = page.party | append: '_people' %}
{% assign person=site.data[people_party][page.person] %}
{% assign party=site.data.parties[page.party] %}
{% assign region=site.data.regions[page.region] %}

<div class='row'>
  <div class='col-md-2'>
    {% if person.image %}
    <img src='{{ person.image }}' class='profile-image'/>
    {% else %}
    <img src='/images/unknown_man.jpg' class='profile-image'/>
    {% endif %}
  </div>
  <div class='col-md-10'>
    <h2>{{ person.name }}</h2>
    <p>{{ person.name }} is running in the <a href='/regions/{{ region.id }}'>{{ region.name }}</a> region for {{ party.name }}</p>
    {% if person.email %}
    <p>Email: <a href='mailto:{{ person.email }}'>{{ person.email }}</a></p>
    {% endif %}

    <div class='row'>
      <div class='col-md-12'>
        <ul class='links'>
        {% for link in person.links %}
          <li><a href='{{ link.url }}'>{{ link.note }}</a></li>
        {% endfor %}
        {% for link in page.links %}
          <li><a href='{{ link.url }}'>{{ link.note }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
    {% if person.wikipedia_biography %}
    <div class='row'>
      <div class='col-md-12'>
        <h3>Wikipedia</h3>
        <p class='quote'>{{ person.wikipedia_biography }}</p>
        <p class='attrib'>This content was extracted from <a href="http://en.wikipedia.org/wiki/Lynda_Waltho">Wikipedia</a> by <a href='http://dbpedia.org/page/Lynda_Waltho'>DBpedia</a> and is licensed under the <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a></p>
      </div>
    </div>
    {% endif %}
    {% if person.biography %}
    <div class='row'>
      <div class='col-md-12'>
        <h3>Biography</h3>
        <p class='quote'>{{ person.biography }}</p>
      </div>
    </div>
    {% endif %}
    {% if person.summary %}
    <div class='row'>
      <div class='col-md-12'>
        <h3>Summary</h3>
        <p class='quote'>{{ person.summary }}</p>
        <p class='attrib'>From their Twitter account</p>
      </div>
    </div>
    {% endif %}
  </div>
</div>

