---
layout: default
---

{% assign people_party = page.party | append: '_people' %}
{% assign person=site.data[people_party][page.person] %}
{% assign party=site.data.parties[page.party] %}
{% assign region=site.data.regions[page.region] %}

<div class='row'>
  <div class='col-md-2 col-sm-2 col-xs-12'><div class='profile-3d'>
    {% if person.image %}
    <img src='/cropped{{ person.image }}' class='profile-image'/>
    {% else %}
    <img src='/images/unknown_man.jpg' class='profile-image'/>
    {% endif %}
  </div></div>
  <div class='col-md-8 col-sm-10 col-xs-12'>
    <h2>{{ person.name }}</h2>
    <p>{{ person.name }} is running in the <a href='/regions/{{ region.id }}'>{{ region.name }}</a> region for <a href='/parties/{{ party.id }}'>{{ party.name_article }}</a> as their {{ page.list-rank-ordinal }} candidate</p>
    {% if page.incumbent %}
    <p>They are currently a sitting MEP in this region</p>
    {% endif %}
    {% if person.email %}
    <p>Email: <a href='mailto:{{ person.email }}'>{{ person.email }}</a></p>
    {% endif %}

    {% if person.links or page.links %}
    <h3>Links</h3>
    <div class='row'>
      <div class='col-md-12'>
        <ul class='links'>
        {% for link in person.links %}
          <li><a href='{{ link.url }}' target="_blank">{{ link.note }}</a></li>
        {% endfor %}
        {% for link in page.links %}
          <li><a href='{{ link.url }}' target="_blank">{{ link.note }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

    {% if person.files %}
    <h3>Documents</h3>
    <div class='row'>
      <div class='col-md-12'>
        <ul class='links'>
        {% for file in person.files %}
          <li><a href='{{ file.url }}' target="_blank">{{ file.note }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

    {% if person.summary %}
    <div class='row'>
      <div class='col-md-12'>
        <h3>Summary</h3>
        <p class='quote'>{{ person.summary }}</p>
        <p class='attrib'>From their Twitter account</p>
      </div>
    </div>
    {% endif %}
    {% if person.wikipedia_biography %}
    <div class='row'>
      <div class='col-md-12'>
        <h3>Wikipedia</h3>
        <p class='quote'>{{ person.wikipedia_biography }}</p>
        <p class='attrib'>This content was extracted from <a href="http://en.wikipedia.org/wiki/Lynda_Waltho" target="_blank">Wikipedia</a> by <a href='http://dbpedia.org/page/Lynda_Waltho' target="_blank">DBpedia</a> and is licensed under the <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">Creative Commons Attribution-ShareAlike 3.0 Unported License</a></p>
      </div>
    </div>
    {% endif %}
    {% if person.biography %}
    <div class='row'>
      <div class='col-md-12'>
        <h3>Biography</h3>
        <p class='quote'>{{ person.biography }}</p>
      </div>
    </div>
    {% endif %}
    {% if person.image_attribution %}
    <div class='row'>
      <div class='col-md-12'>
        <p class='attrib'>Candidate photo attribution: {{ person.image_attribution }}, license: {{ person.image_license }}, <a href='{{ person.image_source }}' target="_blank">source</a>.</p>
      </div>
    </div>
    {% endif %}
  </div>
</div>

