<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

        <!-- syntax highlighting CSS -->
        <!-- <link rel="stylesheet" href="/css/syntax.css"> -->

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!--<link rel="stylesheet" href="/css/leaflet.css" />
        <script src="/js/leaflet.js"></script>-->
      
      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </head>
    <body>  
      <div class='container'>
        <div class='row'>
          <div class="col-md-10">
            <p style='float:left;display:block;'>
              <a href='/'><img src='/images/logo.png' alt="{{ site.name }}"/></a>
            </p>
            <p style='display:block;float:left;font-style:italic;font-size:0.9em;padding:0.1em;'>
              Who's standing for the European Parliament?<br/>
              Election day is Thursday 22 May 2014.
            </p>
            <div style='clear:both;'></div>
          </div>
          <div class="col-md-2 getcode">
            <p><a href='https://github.com/tfgg/yournextmep' target="_blank">Contribute on Github</a></p>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-12'>
            <p class='text-info'><a href='http://englishelections.org.uk/england/l14/index.php' target="_blank">See your English local election candidates on this site</a></p>
          </div>
        </div>

        {{ content }}

        <div class='row footer'>
          <div class='col-md-8'>
            <p class="text-warning">Help contribute information about MEP candidates <a href='https://github.com/tfgg/yournextmep' target="_blank">on Github</a> or <a href='mailto:timothy.green@gmail.com'>email me</a> or <a href='http://twitter.com/tfgg2' target="_blank">follow me on Twitter</a>.</p>
            <p>Postcode lookup service from <a href='http://mapit.mysociety.org/' target="_blank">MapIt</a> by <a href='http://www.mysociety.org/' target="_blank">mySociety</a>.</p>
            <p><a href='/files/csv/candidates.csv'>Download the data in csv format</a>.</p>
          </div>
          <div class='col-md-4 reminder'>
            <button class='btn btn-primary' data-toggle="modal" data-target="#reminder-modal">Email me before election day!</button><br/>
            <p><small>Want to check out the candidates again the day before the election? Subscribe to a reminder with the button above.</small></p>
          </div>
        </div>
      </div>

      <!-- Reminder subscribe modal -->
      <div class="modal fade" id="reminder-modal" tabindex="-1" role="dialog" aria-labelledby="reminder-modal-label" aria-hidden="true">
        <div class="modal-dialog">
          <form action="/" method="post" id="reminder-form" role="form">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="reminder-modal-label">Remind me!</h4>
            </div>
            <div class="modal-body">
              <p>Enter your email address below and click 'subscribe' to have an email sent the day before the election to remind you about this site.</p>

                <div class="form-group" id="reminder-email-group">
                  <label for="email">Email address</label> <input type="text" class="form-control" placeholder="Enter email address" {% if email_address %}value="{{ email_address }}"{% endif %} name="email"/>
                  <small class="text-danger" id="reminder-email-group-error"></small>
                </div>

                <div class="checkbox">
                  <label>
                     <input type="checkbox" name="other"/> Tell me about similar projects<br/> 
                  </label>
                  <small>Your email address will never be shared with any third parties. If you choose to receive emails about similar projects, they will be infrequent and you can unsubscribe at any time.</small>
                </div>
            </div>
            <div class="modal-footer">
              <small class="text-warning" id="reminder-subscribing"></small>
              <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
              <input type="submit" name="submit" class="btn btn-success" value="subscribe"/>
            </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Reminder subscribe success modal -->
      <div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="success-modal-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="success-modal-label">Subscribed</h4>
            </div>
            <div class="modal-body">
              <p class="text-success" id="reminder-email-success"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">ok</button>
            </div>
          </div>
        </div>
      </div>

      <script>
        var api_url = "http://yournextmep.com/reminder"
        var form = $("#reminder-form");
        
        console.log("have form");

        $(form).ready(function(){
          console.log("form ready");

          form.submit(function(event) {
            console.log("form submitted," + form.serialize());

            $("#reminder-subscribing").text("Subscribing...");

            $.post(api_url + "/subscribe", form.serialize(), function(data) {
              if('error_text' in data) {
                console.log("error: ", data.error_text);
                $("#reminder-email-group").addClass("has-error");
                $("#reminder-email-group-error").text(data.error_text);
                $("#reminder-subscribing").text("");
              } else if('success_text' in data) {
                $("#reminder-email-group").removeClass("has-error");
                $("#reminder-email-group-error").text("");
               
                $("#reminder-modal").modal("hide");
                $("#reminder-email-success").text(data.success_text);
                $("#success-modal").modal() 
                $("#reminder-subscribing").text("");
              } else {
                console.log("Neither success_text nor error_text in response");
                console.log(data);
              }
            });

            event.preventDefault();
          });
        });
      </script>

      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-47568384-1', 'yournextmep.com');
        ga('send', 'pageview');

      </script>
    </body>
</html>
