<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    </head>
    <body>
      <div class='container'>
        <div class='row'>
          <div class="col-md-10">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
          </div>
          <div class="col-md-2 getcode">
            <p><a href='https://github.com/tfgg/yournextmep'>Contribute on Github</a></p>
          </div>
        </div>
        {{ content }}
      </div>
    </body>
</html>
