---
layout: default
---

{% assign people_party = page.party | append: '_people' %}
{% assign party=site.data.parties[page.party] %}

<div class='row'>
  <div class='col-md-2'>
    {% if party.image %}
    <img src='{{ party.image }}' class='party-profile-image'/>
    {% else %}
    <!--<img src='/images/unknown_man.jpg' class='profile-image'/>-->
    {% endif %}
  </div>
  <div class='col-md-8'>
    <h2>{{ party.name }}</h2>

    <div class='row'>
      <div class='col-md-12'>
        <ul class='links'>
        {% for link in party.links %}
          <li><a href='{{ link.url }}' target="_blank">{{ link.note }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>

    {% if party.wikipedia_biography %}
    <div class='row'>
      <div class='col-md-12'>
        <h3>Wikipedia</h3>
        <p class='quote'>{{ party.wikipedia_biography }}</p>
        <p class='attrib'>This content was extracted from <a href="http://en.wikipedia.org/wiki/Lynda_Waltho" target="_blank">Wikipedia</a> by <a href='http://dbpedia.org/page/Lynda_Waltho' target="_blank">DBpedia</a> and is licensed under the <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">Creative Commons Attribution-ShareAlike 3.0 Unported License</a></p>
      </div>
    </div>
    {% endif %}
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <h3>Candidates</h3>
    </div>
    <div class='col-md-12'>
      {% assign pages=site.pages %}
      {% for region_pair in site.data.regions %}
        {% assign region = region_pair[1] %}
        {% assign candidates_party = party.id | append: '_candidates' %}
        {% assign people_party = party.id | append: '_people' %}

        {% assign candidates = site.data[candidates_party][region.id] %}
        {% assign people = site.data[people_party] %}

        {% if candidates %}
        <div class='row'>
          <div class='col-md-12'>
          <h4>{{ region.name }}</h4>

          <ol class='candidates'>
          {% for candidate in candidates %}
            {% assign person=people[candidate.id] %}
            <li class='{% if candidate.incumbent %}candidate-incumbent{% endif %}'>
              <a href='/candidates/eu2014/{{ party.id }}/{{ person.id}}/' alt='{{ person.name }}'>
              {% if person.image %}
              <img src='/cropped{{ person.image }}' class='profile-image'/>
              {% else %}
              <img src='/images/unknown_man.jpg' class='profile-image'/>
              {% endif %}</a><br/>
              {% if candidate.incumbent %}<u>{% endif %}
              <a href='/candidates/eu2014/{{ party.id }}/{{ person.id}}/'>{{ forloop.index }}. {{ person.name }}</a>
              {% if candidate.incumbent %}</u>{% endif %}
            </li>
          {% endfor %}
          </ol>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

