---
layout: default
---
{% assign region=site.data.regions[page.region] %}
<div class='row'>
  <div class='col-md-12'>
    <h2>{{ page.title }}</h2>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <p class='quote'>
      {{ region.wikipedia_biography }}
    </p>
    <p class='attrib'>Source: Wikipedia</p>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    {% assign pages=site.pages %}
    {% for party_pair in site.data.parties %}
      {% assign party = party_pair[1] %}
      {% assign candidates_party = party.id | append: '_candidates' %}
      {% assign people_party = party.id | append: '_people' %}

      {% assign candidates = site.data[candidates_party][page.region] %}
      {% assign people = site.data[people_party] %}

      {% if candidates %}
      <div class='row'>
        <div class='col-md-12'>
        <h3>{{ party.name }}</h3> 

        <ol class='candidates'>
        {% for candidate in candidates %}
          {% assign person=people[candidate.id] %}
          <li>
            <a href='/candidates/eu2014/{{ party.id }}/{{ person.id}}/' alt='{{ person.name }}'>
            {% if person.image %}
            <img src='{{ person.image }}' class='profile-image'/>
            {% else %}
            <img src='/images/unknown_man.jpg' class='profile-image'/>
            {% endif %}</a><br/>
            <a href='/candidates/eu2014/{{ party.id }}/{{ person.id}}/'>{{ forloop.index }}. {{ person.name }}</a>
          </li>
        {% endfor %}
        </ol>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

