---
layout: default
---
<div class='row'>
  <div class='col-md-12'>
    <h2>{{ page.title }}</h2>
  </div>
</div>
<div class='row'>
  <div class='col-md-8'>
    {% assign pages=site.pages %}
    {% for party_pair in site.data.parties %}
      {% assign party = party_pair[1] %}
      {% assign candidates_party = party.id | append: '_candidates' %}
      {% assign people_party = party.id | append: '_people' %}

      {% assign candidates = site.data[candidates_party][page.region] %}
      {% assign people = site.data[people_party] %}

      {% if candidates %}
        <h3>{{ party.name }}</h3> 

        <ol>
        {% for candidate in candidates %}
          {{ candidate }}
          {% assign person=people[candidate.id] %}
          <li><a href='{{ candidate.url }}'>{{ person.name }}</a></li>
        {% endfor %}
        </ol>
      {% endif %}
    {% endfor %}
  </div>
  <div class='col-md-4'>
    {{ content }}
  </div>
</div>

